{% extends "log_base.html" %}
{% block log %}

<p>12/19/2016 </p>
<br>
<p>What is JeezyAI? </p>
<br>
<p>JeezyAI first of all is a working name. The origins come from a conversation that Clayton and I had. Elon Musk had made some statement about the dangers of AI (big surprise,) and warned that we could see the first total AI battle sometime soon. We thought that an AI war sounded pretty cool, and that it would need a moderator/ring-anouncer/play-by-play guy to let the common man know what was going on. </p>
<br>
<p>Who better to do that than Atlanta's own Young Jeezy? </p>
<br>
<p>And thus JeezyAI was born. </p>
<br>
<p>The initial desire was to create a bot that could rap with you. You drop a dope line--the bot spits fire in return. There were three things that we wanted right off the bat. The returned line needed to rhyme with the given line. The fire needed to be on beat with the given line. And, obviously, the fire needed to sound like something Jeezy himself could have constructed. </p>
<br>
<p>Here's some current samples: </p>
<br>
<p>Don't you know how hard this is? <-- </p>
<br>
<p>--> play this bitch you pull up his </p>
<br>
<p>All I do is win win win <-- </p>
<br>
<p>--> then i got that bitch you skin </p>
<br>
<p>Sorry for the language it's the data <-- </p>
<br>
<p>--> platinum on the platinum on the nova </p>
<br>
<p>So it's a little rough right now. But hey, those could be legitimate lines from a trap album, which is pretty damn cool if you ask me. </p>
<br>
<p>The goal is that the bars will get more and more coherent, and the program more and more flexible as we expand the dataset that it works on. Eventually it'll write its own bars, and Def Jam or OVO will sign the bot, and never need to hire another writer. </p>
<br>
<p>A quick comparison to <a href="http://DeepBeat.org" target=" ">DeepBeat.org.</a>Deep beat works by generating lyrics that are built out of existing lines from rap songs. By allowing the existing writers to worry about low-level language things like grammar, they're able to focus more on the content of the lyrics. You can currently ask DeepBeat to make you a rap based on a given topic or mood. It's pretty cool, go check it out. </p>
<br>
<p>And then go checkout JeezyAI <a href="http://github.com/claytongentry/JeezyAI" target=" ">github.com/claytongentry/JeezyAI.</a></p>
<br>

{% endblock %}