<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title>ncmatson</title>
    {% endif %}
    <link href="{{ url_for('static', filename='img/favicon.ico') }}"
          rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'blog.css') }}">
  </head>
  <body>
    <table id="wrapper">
      <tr valign="top" height = 500px>
        <td>
          <table id="nav">
            <tr>
              <td><a href="/index/">Home</a></td>
            </tr>
            <tr>
              <td><a href="/bio/">Bio</a></td>
            </tr>
            <tr>
              <td><a href="/thoughts/">Thoughts</a></td>
            </tr>
          </table>
        </td>
        <td id="spacer"></td>
        <td id="content" width = 550px>
          {% block content %}{% endblock %}
        </td>
      </tr>
      <tr id="footer" height = 50px>
        <td colspan="3" valign="middle">
          <a href="http://github.com/ncmatson" target=" "><img src="{{ url_for('static', filename = 'img/GitHub-Mark.png')}}"></a>
          <a href="https://www.linkedin.com/in/n-cameron-matson-92312294" target=" "><img src="{{ url_for('static', filename = 'img/In-Black-14px.png')}}"</a>
          <a href="mailto:ncmatson95@gmail.com"><img src="{{ url_for('static', filename = 'img/mail-128.png') }}"></a>
        </td>
      </tr>

    </table>
  </body>
</html>
